@use 'sass:color';
@use '../../../../styles/variables.scss' as *;

$table-shadow: 0px 10px 10px #ccc;

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: $table-shadow;
  border-radius: 0.625rem;
  white-space: nowrap;
  margin: auto;
}

.table thead {
  background-color: $cinza-claro;
  color: $preto;
}

.table th,
.table td {
  background-color: $cinza-claro;
  padding: 0.8rem;
  min-width: 15rem;
  text-align: left;
  vertical-align: middle;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table th:last-child,
.table td:last-child {
  min-width: 1rem;
}

.table tr {
  border-bottom: 0.0625rem solid $preto;
}

.table tbody tr:hover td {
  background-color: $creme-caramelo;
  cursor: pointer;
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $creme-caramelo;
  }
}

.actions {
  display: flex;
  gap: 1.5rem;
}

.actions svg {
  cursor: pointer;
}

.delete-btn {
  color: #e10d05;
}
