@use '../../styles/variables.scss' as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 0rem;
  border: 0.125rem solid $cacau-intenso;
  border-radius: 0.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  color: $cacau-intenso;
  background: #fff;
  cursor: pointer;
  text-decoration: none;
  transition:
    background 0.2s,
    color 0.2s;
  width: 4.125rem;
  height: 1.375rem;
  margin-bottom: -0.2rem;

  &:hover {
    background: $cacau-intenso;
    color: #fff;
  }
}
