@use './../../styles/variables.scss' as *;

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.42);
  z-index: 999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 1rem;
  padding: 2rem 2rem;
  width: 40rem;
  max-width: calc(100vw - 2rem);
  box-shadow: 0rem 0.25rem 0.25rem 0rem #00000040;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  z-index: 1000;
  will-change: transform, opacity;
  outline: none;
}

.title {
  font-size: 2rem;
  text-align: center;
  color: $marrom-gourmet;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem 2rem;
  align-items: center;
}

.fieldGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  label {
    color: black;
    font-weight: $bold;
    font-size: 1rem;
  }

  input,
  select {
    width: 100%;
    box-sizing: border-box;
  }
}

.buttonRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0.5rem;
  gap: 2rem;
  grid-column: 1 / 3;
}

.cancelButton {
  margin-top: 2rem;
  justify-self: center;
  background-color: white;
  color: $marrom-gourmet;
  border: 0.1rem solid $marrom-gourmet;
  font-size: 1.1rem;
}

.addButton {
  margin-top: 2rem;
  justify-self: center;
  font-size: 1.1rem;
}
