@use '../../styles/variables.scss' as *;

.layout {
  display: flex;
  padding-left: 16rem;
  height: 100vh;
}

.content {
  flex: 1;
  padding: $space-xl;
  background-color: $branco;
  overflow-y: auto;
}

@media (max-width: 1000px) {
  .hasMobileHeader {
    display: flex;
    flex-direction: column;
  }

  .layout {
    padding-left: 0;
  }

  .content {
    width: 100%;
    padding: 0.5rem;
  }
}
