@use '../../styles/variables.scss' as *;

.layout {
  display: flex;
  padding-left: 16rem;
  height: 100vh;
}

.content {
  flex: 1;
  padding: $space-xl;
  background-color: $branco;
  overflow-y: auto;
}
