services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: se-doce-fosse-frontend
    ports:
      - "80:80"
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 512M
        reservations:
          cpus: "0.5"
          memory: 256M
