.productListContainer {
  width: 100%;
  margin-bottom: 2rem;
}


.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #3d2c13;
  letter-spacing: -0.5px;
  line-height: 1.1;
}

.productsRow {
  display: grid;
  grid-auto-flow: column; 
  
  grid-auto-columns: min-content; 
  
  gap: 1.5rem;
  
  overflow-x: auto; 
  padding-bottom: 1rem;

  scrollbar-width: none; 
  -ms-overflow-style: none;  
}

.productsRow::-webkit-scrollbar {
  display: none; 
}

@media (max-width: 767px) {
  .productListContainer {
    padding: 0 1rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .productsRow {
    gap: 2.5rem; 
  }
}
