@use '../../styles/variables.scss' as *;

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
  font-size: $font-xl;
  text-align: center;
}

.ativo {
  background-color: $status-active;
  color: $preto;
}

.inativo {
  background-color: $status-inactive;
  color: $preto;
}

.pendente {
  background-color: $status-preparando;
  color: $preto;
}
.aprovado {
  background-color: $status-active;
  color: $preto;
}
.rejeitado {
  background-color: $status-inactive;
  color: $preto;
}
.recusado {
  background-color: $status-inactive;
  color: $preto;
}
.entregue {
  background-color: $status-active;
  color: $preto;
}
.pronto {
  background-color: $status-active;
  color: $preto;
}
.preparando {
  background-color: $status-preparando;
  color: $preto;
}
.insumo {
  background-color: $status-insumo;
  color: $preto;
}
.embalagem {
  background-color: $status-embalagem;
  color: $preto;
}
