@use '../../styles/variables.scss' as *;

.dashboard {
  display: flex;
  flex-direction: column;
  gap: $space-md;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filtro {
  display: flex;
  align-items: center;
  gap: $space-xs;
}

.cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .cards {
    display: flex;
    flex-direction: column;
    gap: $space-md;
    width: 100%;
  }
}
