@use './../../styles/variables.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
  max-width: 22.4375rem;
  min-width: 22.4375rem;
}

.headingRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0 0 2.5rem 0;
}

.pin {
  color: $cacau-intenso;
  font-size: 1.6rem;
  line-height: 1;
}

.heading {
  margin: 0;
  color: $cacau-intenso;
  font-weight: 400;
  font-size: $font-lg;
}

.addressCard {
  background-color: $verde-pistache;
  border-radius: 0.3125rem;
  padding: 1.3125rem 1.875rem 1.375rem 1.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1.0625rem;
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.0625rem;
}

.inlineRow {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.5rem;
  width: 100%;
  align-items: stretch;
  min-width: 0;
}

.addressCard textarea {
  width: 100%;
  max-width: 100%;
  height: 3.3125rem;
  min-height: 3.3125rem !important;
  border-radius: 0.3125rem !important;
  resize: none;

  padding: 0 1.25rem !important;
  line-height: 3.3125rem;

  white-space: nowrap;
  overflow-y: hidden;
}

.addressCard textarea::placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
