.container {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
}

@media (max-width: 768px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
  }
}

.produtos {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
