@use '../../styles/variables.scss' as *;
.showMoreButton {
  background: $branco;
  color: $marrom-gourmet;
  border: 0.0625rem solid $marrom-gourmet;
  border-radius: 0.3125rem;
  width: 4.125rem;
  height: 1.375rem;
  padding: 0;
  font-size: 0.875rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: none;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  margin-left: 1rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.showMoreButton:hover {
  background: $creme-caramelo;
  color: $marrom-gourmet;
  border-color: $marrom-gourmet;
}
