* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none !important;
  color: inherit !important;
}

// Sobrescrever especificamente os estilos do Bootstrap
a.nav-link,
.nav-link,
.navbar-nav .nav-link,
.dropdown-item {
  text-decoration: none !important;
  color: inherit !important;
}

button {
  font: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

input {
  border: none;
}

textarea {
  border: none;
  font: inherit;
  resize: none;
  outline: none;
}
