@use '../../styles/variables.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  background-color: $branco;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.bannerMobile {
  margin-top: 0rem;
  padding: 0;
  width: 100vw;
}

.bannerDesktop {
  display: none;
}

@media (min-width: 64rem) {
  .bannerMobile {
    display: none;
  }

  .top {
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }

  .bannerDesktop {
    display: block;
    padding: 0;
    width: 100%;
    margin: 0rem;
    height: auto;
  }

  .contentContainer {
    width: 85rem;
    margin: 0 auto;
    margin-top: 2rem;
  }
}
