@use './../../styles/variables.scss' as *;

.selectWrapper {
  position: relative;
  width: 100%;
  background: $branco;
  border-radius: $space-sm;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  height: 2.8125rem;
}

.selectField {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: transparent;
  border: none;
  color: $verde-pistache;

  font-size: $font-md;
  line-height: 1.2;
  padding: 0 2.25rem 0 0.875rem;
  cursor: pointer;

  &::-ms-expand {
    display: none;
  }
  &:focus {
    outline: none;
  }
}

.selectIcon {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: $verde-pistache;
  line-height: 1;
  pointer-events: none;
  z-index: 1;
}
