@use '../../styles/variables.scss' as *;

.tag {
  display: inline-flex;
  align-items: center;
  background: $gray-light;
  border-radius: $border-radius-md;
  padding: 0.4rem 0.8rem;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);

  input {
    border: none;
    background: transparent;
    outline: none;
    font-size: $font-md;
    color: $marrom-gourmet;
    min-width: 1ch;
  }

  .remove {
    margin-left: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    color: #a33;
    border: none;
    background: transparent;
    font-size: 1rem;

    &:hover {
      color: #e00;
    }
  }
}
