@use './../../styles/variables.scss' as *;

.filterContainer {
  display: flex;
  flex-direction: column;
  padding: 0.9375rem;
  gap: 1.25rem;
  border-radius: $space-sm;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  background-color: $cinza-claro;
}

.filterTitle {
  color: $preto;
}

.filterContent {
  display: flex;
  justify-content: space-around;
  gap: 30%;
}

@media (max-width: 972px) {
  .filterContent {
    gap: 10%;
  }
}

@media (max-width: 768px) {
  .filterContent {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    justify-content: center;
    align-items: stretch;
  }
}
