@use './../../styles/variables.scss' as *;

.modal {
  background-color: white;
  border-radius: 1rem;
  padding: 2rem 3rem;
  width: 40rem;
  box-shadow: 0rem 0.25rem 0.25rem 0rem #00000040;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.title {
  font-size: 2rem;
  text-align: center;
  color: $marrom-gourmet;
}

.form {
  display: grid;
  gap: 1.25rem 2rem;
  align-items: start;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  label {
    color: black;
    font-weight: $bold;
    font-size: 1rem;
  }
}

.radioGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  grid-column: 1 / 3;

  p {
    font-weight: $semi-bold;
    font-size: 1rem;
    color: black;
  }

  .radioOptions {
    display: flex;
    gap: 1.5rem;
  }

  .radioLabel {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: $bold;
    color: black;
    cursor: pointer;

    input[type='radio'] {
      width: 1rem;
      height: 1rem;
      accent-color: black;
    }
  }
}

.buttonRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0.5rem;
  gap: 2rem;
  grid-column: 1 / 3;
}

.cancelButton {
  justify-self: center;
  background-color: white;
  color: $marrom-gourmet;
  border: 0.1rem solid $marrom-gourmet;
  font-size: 1.1rem;
}

.addButton {
  justify-self: center;
  font-size: 1.1rem;
}
