@use 'sass:color';
@use '../../styles/variables.scss' as *;

.btn {
  margin-top: 0.5rem;
}
$primary-bg: $cinza-claro;
$btn-bg: $marrom-gourmet;
$btn-color: $branco;
$btn-radius: 10px;
$btn-shadow: 0px 5px 5px #ccc;

.TableAdminComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $primary-bg;

  .btn {
    margin-top: 1rem;
    border: none;
    background-color: $btn-bg;
    color: $btn-color;
    padding: 0.5rem 1rem;
    border-radius: $btn-radius;
    cursor: pointer;
    box-shadow: $btn-shadow;
  }
}

.btnWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}
