@use '../../styles/variables.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.footer {
  display: grid;
  background-color: $verde-pistache;
  padding: $space-md;
}

.leftSide {
  display: grid;
  grid-template-columns: 8rem 1fr;
  grid-template-areas:
    'logo horario'
    'logo contato';
  gap: 0rem;

  color: $cacau-intenso;

  .logo {
    height: 8rem;
    align-self: center;
    margin-left: -1rem;
  }

  .workingHours {
    margin-left: $space-xs;
    margin-top: 1rem;
    grid-area: horario;
    width: max-content;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;

    h3 {
      white-space: nowrap;
      font-weight: 400;
    }

    ul {
      margin-top: $space-xs;
      list-style: none;
      border-left: 0.07rem solid currentColor;
      padding-left: 0.6rem;
      .li {
      }
    }
  }

  .contacts {
    font-family: 'Roboto', sans-serif;
    margin-left: 0.4rem;
    margin-top: -1rem;

    h3 {
      visibility: hidden;
      font-weight: 400;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 1.3rem;

      li {
        a {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.rightSide {
  display: flex;
  flex-direction: column;

  .highlightText {
    margin-top: 2rem;
    margin-left: $space-xs;
    white-space: pre-line;
    color: $cacau-intenso;
    font-family: 'Roboto', sans-serif;
    justify-content: start;
    font-weight: 400;
    font-size: $font-md;
  }

  .commentBox {
    width: 20.875rem;
    height: 15.5rem;
    margin: 0 auto;
    background: snow;
    border: 1.3125rem solid $cacau-intenso;
    border-radius: 0.375rem;
    padding: 1.25rem;
    box-sizing: border-box;
    font-family:
      system-ui,
      -apple-system,
      Segoe UI,
      Roboto,
      sans-serif;
    color: $cacau-intenso;

    transform: scale(1);
    transform-origin: top center;
    margin-top: $space-xs;

    .commentTitle {
      margin: 0 0 0.625rem 0;
      font-weight: 600;
      color: $cacau-intenso;
    }

    label {
      display: block;
    }

    textarea {
      width: 100%;
      min-height: 3.73rem;
      border: 0.0938rem solid $cacau-intenso;
      border-radius: 0.375rem;
      padding: 0.625rem;
      font-size: 0.875rem;
      color: $cacau-intenso;
      resize: vertical;
      margin-bottom: 0.625rem;

      &::placeholder {
        color: $verde-pistache;
      }
      &:focus {
        outline: none;
        border-color: $cacau-intenso;
      }
    }

    .nameLabel,
    .phoneLabel {
      margin-top: $space-xs;
      display: inline-block;
      vertical-align: top;
      width: calc(50% - 0.375rem);
      margin-bottom: 0.625rem;
    }
    .nameLabel {
      margin-right: $font-xs;
    }

    .nameLabel input,
    .phoneLabel input {
      width: 100%;
      border: 0.0938rem solid $cacau-intenso;
      border-radius: 0.375rem;
      padding: 0.625rem;
      font-size: 0.875rem;
      color: $cacau-intenso;

      &::placeholder {
        color: $verde-pistache;
      }
    }

    .buttonContainer {
      margin-top: $space-xs;

      display: flex;
      justify-content: flex-end;

      button {
        background: $verde-pistache;
        color: $cacau-intenso;
        border: none;
        border-radius: $font-xs;
        padding: 0.375rem $font-md;
        font-size: $font-md;
        font-weight: 770;
        cursor: pointer;
        background: $verde-pistache;
      }
    }
  }
}

@media (min-width: 64rem) {
  .footer {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $font-xxl;
    align-items: center;
    padding: $font-md;
  }
  .leftSide {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: row;
    gap: $font-xxl;

    .logo {
      height: 11rem;
      width: 15rem;
    }

    .workingHours {
      margin-left: -2rem;
      align-self: center;

      h3 {
        font-size: $font-md;
      }

      ul {
        li {
          font-size: $font-md;
        }
      }
    }
    .contacts {
      margin-top: 1.3rem;
      align-self: center;

      h3 {
        visibility: visible;
        font-size: 1rem;
      }

      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 0.1rem;
        border-left: 0.0625rem solid currentColor;
        padding-left: 0.3rem;
        margin-top: $space-xs;
        li {
          a {
            font-size: $font-md;
          }
        }
      }
    }
  }

  .rightSide {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: $space-xs;

    .highlightText {
      white-space: pre-line;
      margin-left: 2rem;
      margin-top: $space-xs;
    }

    .commentBox {
      max-width: 20rem;
      margin-right: 1rem;

      .commentTitle {
        font-size: $font-md;
        margin: 0 0 $space-xs 0;
        line-height: 1.2;
      }

      textarea {
        min-height: 72px;
        padding: $space-xs 0.625rem;
        font-size: $font-md;
        line-height: 1.25;
        margin-bottom: $space-xs;
        border-width: 1.2.3125rem;
      }

      .nameLabel,
      .phoneLabel {
        margin-top: -0.25rem;
        margin-bottom: $space-xs;
        width: calc(50% - 0.4rem);
      }
      .nameLabel input,
      .phoneLabel input {
        padding: $space-xs 0.625rem;
        font-size: $font-md;
        line-height: 1.2;
        border-width: 1.2.3125rem;
      }

      .buttonContainer {
        margin-top: $space-xs;
        margin-bottom: -0.25rem;

        button {
          padding: 0.3125rem $space-sm;
          font-size: $font-md;
          line-height: 1.1;
          border-radius: $space-xs;
        }
      }
    }
  }
}
