@use '../../styles/variables.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$font-xs: 0.75rem; // 12px
$font-sm: 0.875rem; // 14px
$font-md: 1rem; // 16px
$font-lg: 1.25rem; // 20px
$font-xl: 1.5rem; // 24px
$font-xxl: 2rem; // 32px
$font-xxxl: 3rem; // 48px
$font-xxxxl: 5rem; // 80px

$space-xxss: 0rem; // 2px
$space-xxs: 0.25rem; // 4px
$space-xs: 0.5rem; // 8px
$space-sm: 0.75rem; // 12px
$space-md: 1rem; // 16px
$space-lg: 1.5rem; // 24px
$space-xl: 2rem; // 32px
$space-xxl: 3rem; // 64px
$space-xxxl: 4rem; // 48px
$space-xxxxl: 6rem; // 96px

.footer {
  background-color: $verde-pistache;
  padding: $space-md;
  height: 25rem;

  .sideLeft {
    padding: 0rem;
    margin-left: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .logo {
      padding: 0rem;
      width: 8rem;
      height: 6rem;
    }

    .workingHours {
      color: $cacau-intenso;
      height: 3rem;

      font-family: 'Roboto', sans-serif;

      h3 {
        white-space: nowrap;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          border-left: 0.0625rem solid currentColor;
          padding-left: 0.6rem;
        }
      }
    }
  }

  .rithSide {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
  }

  .contacts {
    justify-content: flex-start;
    color: $cacau-intenso;

    font-family: 'Roboto', sans-serif;

    h3 {
      display: none;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      gap: 0.5rem;
      align-items: center;

      li {
      }
      a {
        font-size: 1rem;
      }
    }
  }

  .highlightText {
    white-space: pre-line;
    font-size: $font-sm;
    color: $cacau-intenso;
    font-family: 'Roboto', sans-serif;
  }

  .commentBox {
    padding: 3rem;
    margin-top: 2rem;
    margin-left: 1.5rem;
    display: flex;
    justify-content: column;
    background: $snow;
    border-radius: 0.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
    padding: 1rem;
    width: 22rem;
    height: 12rem;
    border: 0.1rem solid $cacau-intenso;
  }

  .commentBox h3 {
    top: $space-xxss;
    // desce 1rem dentro da caixa

    margin-bottom: $space-xs;

    font-size: $font-md;
    font-weight: 600;
    line-height: 1.1;
    font-family: 'Roboto', sans-serif;
    color: $cacau-intenso;
  }

  .commentBox textarea {
    width: 17rem;
    height: 3.5rem;

    top: $space-lg; // desce 1rem dentro da caixa

    border-radius: 0.5rem;
    font-size: $space-sm;
    border: 0.1rem solid $cacau-intenso;
    font-family: 'Roboto', sans-serif;
    padding-top: 0.8rem;
    padding-left: 0.4rem;
  }

  .commentBox .row {
    display: flex;
    top: 0.001;
    font-family: 'Roboto', sans-serif;

    input {
      margin-right: 0.5rem;

      width: 8.3rem;
      height: 2rem;
      padding: 0.5rem;
      font-size: $space-sm;
      border-radius: 0.3rem;
      border: 0.1rem solid $cacau-intenso;
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }

  .commentBox button {
    font-size: $space-sm;
    background-color: $verde-pistache;
    color: $cacau-intenso;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 580;
    border-radius: 1rem;
    cursor: pointer;
    width: 4.5rem;
    height: 1.5rem;
  }
}
