@use '../../styles/variables.scss' as *;

.comentarios {
  h1 {
    color: $marrom-gourmet;
  }
}

.filter {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 1000px) {
  .filter {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
