@use '../../styles/variables.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.commentCard {
  display: grid;
  background-color: $creme-caramelo;
  height: 10rem;
  width: 21.9375rem;
  border-radius: 0.3125rem;
  box-shadow: 0 0.1875rem 0.3125rem rgba(0, 0, 0, 0.3);
  margin-bottom: 3rem;
  padding: 1.5rem;

  // Responsivo para mobile
  @media (max-width: 767px) {
    width: 90vw;
    max-width: 350px;
    margin: 0 auto 2rem auto;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  color: $cacau-intenso;
  font-family: 'Roboto', sans-serif;
  margin-right: 1rem;
}

.comment {
  color: $cacau-intenso;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  height: 12rem;
  -webkit-box-orient: vertical;
  line-height: 1.4;
  max-height: calc(1.4em * 3);
}

.star {
  font-size: $space-xl;
  color: $disabled-text;
  transition: color 0.2s ease;
  width: 1.2rem;

  @media (min-width: 64rem) {
    .star:hover {
      color: $cacau-intenso;
    }
  }
}

.avaliation {
  margin-bottom: 0.5rem;
}
.active {
  color: $cacau-intenso;
}
