@use '../../styles/variables.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.commentCard {
  display: grid;
  background-color: $creme-caramelo;
  height: 10rem;
  width: 21.9375rem;
  border-radius: 0.3125rem;
  box-shadow: 0 0.1875rem 0.3125rem rgba(0, 0, 0, 0.3);
  margin-bottom: 3rem;
  padding: 1.5rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  color: $cacau-intenso;
  font-family: 'Roboto', sans-serif;
  margin-right: 1rem;
}

.comment {
  color: $cacau-intenso;
  font-family: 'Roboto', sans-serif;
}

.star {
  font-size: $space-xl;
  color: $disabled-text;
  transition: color 0.2s ease;
  width: 1.2rem;

  @media (min-width: 64rem) {
    .star:hover {
      color: $cacau-intenso;
    }
  }
}

.avaliationStars {
  display: flex;
  margin-right: 0.25rem;
}
.active {
  color: $cacau-intenso;
}
