@use './../../styles/variables.scss' as *;

.dropdownContainer {
  position: relative;
  display: inline-block;
  max-width: 21.875rem;
}

.select {
  width: 100%;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  font-weight: 300;
  color: black;
  background: white;
  border: none;
  border-radius: 0.9rem;
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.15);
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select::-ms-expand {
  display: none;
}

.dropdownContainer::after {
  content: '';
  position: absolute;
  right: 1rem;
  top: 60%;
  width: 0.6rem;
  height: 0.6rem;
  border-right: 0.125rem solid $marrom-gourmet;
  border-bottom: 0.125rem solid $marrom-gourmet;
  transform: translateY(-50%) rotate(45deg);
  pointer-events: none;
}

.dropdownLabel {
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
}
